.modal {
    background-color: rgb(73, 170, 216);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newgamebutton {
    font-size: 30px;
    background: #ffffff;
    border-radius: 100px;
    width: 243px;
    height: 56px;
}

.newgamediv {
    font-size: 65px;
    color: white;
}